<template>
    <div class="row">
        <div class="col-md-4 col-sm-6" v-for="category in categories">
            <div class="card mb-30"><a class="card-img-tiles" :href="'/products/'+category.id">
                <div class="inner">
                    <div class="main-img"><img :src="category.category_image" :alt="category.category_name"></div>
                    <div class="thumblist"><img :src="category.category_image" :alt="category.category_name"><img :src="category.category_image" :alt="category.category_name"></div>
                </div>
            </a>
                <div class="card-body text-center">
                    <h4 class="card-title">{{ category.category_name }}</h4>
                    <p class="text-muted">{{ category.category_description.substring(0,150) }}</p>
                    <inertia-link class="btn btn-outline-primary btn-sm" :href="'/products/'+category.id">Ürünleri Görüntüle</inertia-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['categories']
    }
</script>

<style scoped>
    .mt-100 {
        margin-top: 100px
    }

    .card {
        border-radius: 7px !important;
        border-color: #e1e7ec;
        height:350px
    }

    .mb-30 {
        margin-bottom: 30px !important
    }

    .card-img-tiles {
        display: block;
        border-bottom: 1px solid #e1e7ec
    }

    a {
        color: #0da9ef;
        text-decoration: none !important
    }

    .card-img-tiles>.inner {
        display: table;
        width: 100%
    }

    .card-img-tiles .main-img,
    .card-img-tiles .thumblist {
        display: table-cell;
        width: 65%;
        padding: 15px;
        vertical-align: middle
    }

    .card-img-tiles .main-img>img:last-child,
    .card-img-tiles .thumblist>img:last-child {
        margin-bottom: 0
    }

    .card-img-tiles .main-img>img,
    .card-img-tiles .thumblist>img {
        display: block;
        width: 100%;
        margin-bottom: 6px
    }

    .thumblist {
        width: 35%;
        border-left: 1px solid #e1e7ec !important;
        display: table-cell;
        width: 65%;
        padding: 15px;
        vertical-align: middle
    }

    .card-img-tiles .thumblist>img {
        display: block;
        width: 100%;
        margin-bottom: 6px
    }

    .btn-group-sm>.btn,
    .btn-sm {
        padding: .45rem .5rem !important;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem
    }
</style>
