<template>
    <div class="row">
        <div class="col-3 p-4 shadow">
            <h6 class="mb-4">Yönetim Paneli</h6>
            <ul class="list-group">
                <li class="list-group-item">
                    <inertia-link class="menu-item" href="/admin/categories">Kategoriler</inertia-link>
                </li>
                <li class="list-group-item active" aria-current="true">
                    <inertia-link class="menu-item" href="/admin/products">Ürünler</inertia-link>
                </li>
                <li class="list-group-item">
                    <inertia-link class="menu-item" href="/admin/orders">Siparişler</inertia-link>
                </li>
            </ul>
        </div>
        <div class="col-9 p-4">
            <button class="btn btn-sm btn-primary float-right mb-3" @click="openModal()">Yeni Ürün</button>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <td>Ürün Adı</td>
                    <td>Ürün Resmi</td>
                    <td>Ürün Fiyatı</td>
                    <td>Kategori</td>
                    <td>İşlemler</td>
                </tr>
                </thead>
                <tr v-for="product in products">
                    <td>{{ product.name }}</td>
                    <td><img class="img-thumbnail" :src="product.image"/></td>
                    <td>{{ Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(product.price) }}</td>
                    <td>{{ product.category }}</td>
                    <td width="150">
                        <button @click="edit(product)" class="btn btn-sm btn-primary">Güncelle</button>
                        <button @click="remove(product)" class="btn btn-sm btn-danger">Sil</button>
                    </td>
                </tr>
            </table>

            <div class="modal fade" id="addNewProductModal">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ürün Ekle</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" v-for="error in errors" role="alert">
                                {{ error }}
                            </div>
                            <div class="form-group">
                                <label for="name">Ürün Adı</label>
                                <input class="form-control" required id="name" v-model="form.name"/>
                            </div>
                            <div class="form-group">
                                <label for="image">Ürün Resim</label>
                                <input type="file"
                                       ref="product_image"
                                       required id="image"/>
                            </div>
                            <div class="form-group">
                                <label for="category_id">Kategori</label>
                                <select id="category_id" v-model="form.category_id" class="form-control">
                                    <option v-for="category in categories" :value="category.id">{{ category.category_name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="price">Fiyat</label>
                                <input id="price" v-model="form.price" type="number" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="brand">Marka</label>
                                <input id="brand" v-model="form.brand" type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="description">Açıklama</label>
                                <input id="description" v-model="form.description" class="form-control"/>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="closeModal()">Vazgeç</button>
                            <button type="submit" class="btn btn-primary" v-show="!editMode" @click="save(form)">Kaydet
                            </button>
                            <button type="submit" class="btn btn-primary" v-show="editMode" @click="update(form)">Güncelle
                            </button>
                        </div>
                    </div><!-- /.modal-content -->

                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
</template>

<script>
    export default {
        props: ['products', 'categories'],
        data() {
            return {
                editMode: false,
                form: {
                    name: null,
                    image: null,
                    description: null,
                    price: null,
                    brand: null,
                    category_id: null,
                },
                errors: []
            }
        },
        methods: {
            openModal: function () {
                $('#addNewProductModal').modal('show')
            },
            closeModal: function () {
                $('#addNewProductModal').modal('hide')
                this.reset();
                this.editMode=false;
            },
            reset: function () {
                this.form = {
                    name: null,
                    image: null,
                    description: null,
                    price: null,
                    brand: null,
                    category_id: null,
                }
            },
            save: function (data) {
                this.validateForm('insert');
                if(this.errors.length === 0)
                {
                    this.$inertia.post('/admin/products', data)
                    this.reset();
                    this.closeModal();
                    this.editMode = false;
                    this.errors = [];
                }
            },
            edit: function (data) {
                this.form = Object.assign({}, data);
                this.editMode = true;
                this.openModal();
            },
            update: function (data) {
                this.validateForm('update');
                if(this.errors.length === 0)
                {
                    if (!confirm('Emin misiniz?')) return;
                    if(this.$refs.product_image){
                        this.form.image = this.$refs.product_image.files[0];
                    }
                    data._method = 'PUT';
                    this.$inertia.post('/admin/products/' + data.id, data)
                    this.reset();
                    this.closeModal();
                    this.errors = [];
                }
            },
            remove: function (data) {
                if (!confirm('Emin misiniz?')) return;
                data._method = 'DELETE';
                this.$inertia.post('/admin/products/' + data.id, data)
                this.reset();
                this.closeModal();
            },
            validateForm(formType){
                this.errors = [];
                if(formType === "insert")
                {
                    if(this.$refs.product_image){
                        if(this.$refs.product_image.files[0])
                        {
                            this.form.image = this.$refs.product_image.files[0];
                        }
                        else
                        {
                            this.errors.push('Ürün resim alanı boş geçilemez!');
                        }
                    }
                }

                if(this.form.name == null || this.form.name.length < 3 || this.form.name.length > 80)
                {
                    this.errors.push('Ürün adı alanı en az 3, en fazla 80 karakterden oluşmalıdır!');
                }

                if(this.form.description == null || this.form.description === "")
                {
                    this.errors.push('Ürün açıklaması alanı boş geçilemez!');
                }

                if(this.form.price == null || isNaN(this.form.price))
                {
                    this.errors.push('Fiyat alanı geçerli bir sayı olmalıdır!');
                }

                if(this.form.brand == null || this.form.brand.length < 3 || this.form.brand.length > 80)
                {
                    this.errors.push('Marka alanı en az 3, en fazla 80 karakterden oluşmalıdır!');
                }

                if(this.form.category_id == null || isNaN(this.form.category_id))
                {
                    this.errors.push('Kategori alanı boş geçilemez!');
                }

            }
        },
        created() {

        }
    }
</script>

<style scoped>
    .img-thumbnail{
        width: 80px;
        height:80px;
    }
    .active .menu-item{
        color: #fff;
    }
</style>
