<template>
    <div class="row">
        <div class="col-3 p-4 shadow">
            <h6 class="mb-4">Yönetim Paneli</h6>
            <ul class="list-group">
                <li class="list-group-item">
                    <inertia-link class="menu-item" href="/admin/categories">Kategoriler</inertia-link>
                </li>
                <li class="list-group-item">
                    <inertia-link class="menu-item" href="/admin/products">Ürünler</inertia-link>
                </li>
                <li class="list-group-item active" aria-current="true">
                    <inertia-link class="menu-item" href="/admin/orders">Siparişler</inertia-link>
                </li>
            </ul>
        </div>
        <div class="col-9 p-4">
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <td>Sipariş Tarihi</td>
                    <td>Toplam Tutar</td>
                    <td>Durum</td>
                    <td>İşlemler</td>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="order in orders">
                        <td>{{ order.date }}</td>
                        <td>{{ Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(order.amount) }}</td>
                        <td>{{ order.status }}</td>
                        <td>
                            <button
                                @click="show(order)"
                                class="btn btn-primary">
                                <b-icon-eye></b-icon-eye>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="modal fade" id="orderDetailModal">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Sipariş Detayları</h4>
                        </div>
                        <div class="modal-body" v-if="selectedOrder.details">
                            <h6>Ürünler</h6>
                            <ul>
                                <li v-for="order in selectedOrder.details">
                                    {{ order.quantity }} Adet {{ order.product.name }} <br/>
                                    <b>Toplam Tutar :</b> {{ Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(parseFloat(order.quantity * order.price)) }}
                                </li>
                            </ul>
                            <b>Adres Bilgileri</b><br/>
                            <p>{{ selectedOrder.address.address }} {{ selectedOrder.address.city }} / {{ selectedOrder.address.state }}</p>
                            <p>{{ selectedOrder.user.name  }}</p>
                            <p>{{ selectedOrder.address.phone }}</p>
                            <p>
                                <b>Durum Değiştir</b>
                            </p>

                            <button
                                @click="changeStatus(1)"
                                class="btn btn-success">
                                <b-icon-check></b-icon-check> Onaylandı
                            </button>
                            <button
                                @click="changeStatus(2)"
                                class="btn btn-success">
                                <b-icon-truck></b-icon-truck> Kargoya Verildi
                            </button>
                            <button
                                @click="changeStatus(3)"
                                class="btn btn-success">
                                <b-icon-arrow-right-square></b-icon-arrow-right-square> Teslim Edildi
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="closeModal()">Kapat</button>
                        </div>
                    </div><!-- /.modal-content -->

                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
</template>

<script>
    export default {
        props: ['orders'],
        data() {
            return {
                form: {
                    name: null,
                    image: null,
                    description: null,
                    price: null,
                    brand: null,
                    category_id: null,
                },
                selectedOrder: {}
            }
        },
        methods: {
            closeModal: function () {
                $('#orderDetailModal').modal('hide')
                this.selectedOrder = {};
            },
            show: function(order) {
                this.selectedOrder = order;
                $('#orderDetailModal').modal('show')
            },
            changeStatus(status){
                let formData = new FormData();
                formData.append('order_id', this.selectedOrder.order_id);
                formData.append('status', status);
                this.$inertia.post('/admin/orders/changestatus',formData);
                this.closeModal();
            }
        }
    }
</script>

<style scoped>
    .img-thumbnail{
        width: 80px;
        height:80px;
    }
    .active .menu-item{
        color: #fff;
    }
</style>
