<template>
    <div class="row">
        <div class="col-3 p-4 shadow">
            <h6 class="mb-4">Yönetim Paneli</h6>
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">
                    <inertia-link class="menu-item" href="/admin/categories">Kategoriler</inertia-link>
                </li>
                <li class="list-group-item">
                    <inertia-link class="menu-item" href="/admin/products">Ürünler</inertia-link>
                </li>
                <li class="list-group-item">
                    <inertia-link class="menu-item" href="/admin/orders">Siparişler</inertia-link>
                </li>
            </ul>
        </div>
        <div class="col-9 p-4">
            <button class="btn btn-sm btn-primary float-right mb-3" @click="openModal()">Yeni Kategori</button>
            <table class="table table-bordered table-condensed">
                <thead>
                <tr>
                    <td>Kategori Adı</td>
                    <td>Kategori Resmi</td>
                    <td>Üst Kategori</td>
                    <td>İşlemler</td>
                </tr>
                </thead>
                <tr v-for="category in categories">
                    <td>{{ category.category_name }}</td>
                    <td><img class="img-thumbnail" :src="category.category_image"/></td>
                    <td v-if="category.parent_id === 0">Yok</td>
                    <td v-if="category.parent_id !== 0">{{ category.parent_id }}</td>
                    <td width="150">
                        <button @click="edit(category)" class="btn btn-sm btn-primary">Güncelle</button>
                        <button @click="remove(category)" class="btn btn-sm btn-danger">Sil</button>
                    </td>
                </tr>
            </table>

            <div class="modal fade" data-keyboard="false" data-backdrop="static" id="addNewCategoryModal">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Kategori Ekle</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" v-for="error in errors" role="alert">
                                {{ error }}
                            </div>
                            <div class="form-group">
                                <label for="name">Kategori Adı</label>
                                <input class="form-control" required id="name" v-model="form.category_name"/>
                            </div>
                            <div class="form-group">
                                <label for="image">Kategori Resim</label>
                                <input type="file"
                                       ref="category_image"
                                       required id="image"/>
                            </div>
                            <div class="form-group">
                                <label for="parent">Üst Kategori</label>
                                <select id="parent" v-model="form.parent_id" class="form-control">
                                    <option value="0" selected disabled>Yok</option>
                                    <option v-for="category in categories" :value="category.id">{{ category.category_name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="description">Açıklama</label>
                                <input id="description" v-model="form.category_description" class="form-control"/>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="closeModal()">Vazgeç</button>
                            <button type="submit" class="btn btn-primary" v-show="!editMode" @click="save(form)">Kaydet
                            </button>
                            <button type="submit" class="btn btn-primary" v-show="editMode" @click="update(form)">Güncelle
                            </button>
                        </div>
                    </div><!-- /.modal-content -->

                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>


</template>

<script>
    export default {
        props: ['categories'],
        data() {
            return {
                editMode: false,
                form: {
                    category_name: null,
                    category_image: null,
                    category_description: null,
                    parent_id: 0,
                    is_parent: 0
                },
                showError: false,
                errors: [

                ]
            }
        },
        methods: {
            openModal: function () {
                $('#addNewCategoryModal').modal('show')
            },
            closeModal: function () {
                $('#addNewCategoryModal').modal('hide')
                this.reset();
                this.editMode=false;
            },
            reset: function () {
                this.form = {
                    name: null,
                    phone: null,
                }
            },
            save: function (data) {
                this.validateForm('insert');
                if(this.errors.length === 0)
                {
                    this.$inertia.post('/admin/categories', data)
                    this.reset();
                    this.closeModal();
                    this.errors = [];
                    this.editMode = false;
                }
            },
            edit: function (data) {
                this.form = Object.assign({}, data);
                this.editMode = true;
                this.openModal();
            },
            update: function (data) {
                this.validateForm('update');
                if(this.errors.length === 0) {
                    if (!confirm('Emin misiniz?')) return;
                    data._method = 'PUT';
                    if(this.$refs.category_image){
                        this.form.category_image = this.$refs.category_image.files[0];
                    }
                    this.$inertia.post('/admin/categories/' + data.id, data)
                    this.reset();
                    this.closeModal();
                    this.errors = [];
                }
            },
            remove: function (data) {
                if (!confirm('Emin misiniz?')) return;
                data._method = 'DELETE';
                this.$inertia.post('/admin/categories/' + data.id, data)
                this.reset();
                this.closeModal();
            },
            validateForm(formType){
                this.errors = [];
                if(formType === "insert")
                {
                    if(this.$refs.category_image){
                        if(this.$refs.category_image.files[0])
                        {
                            this.form.category_image = this.$refs.category_image.files[0];
                        }
                        else
                        {
                            this.errors.push('Kategori resim alanı boş geçilemez!');
                        }
                    }
                }

                if(this.form.category_name == null || this.form.category_name.length < 3 || this.form.category_name.length > 80)
                {
                    this.errors.push('Kategori adı alanı en az 3, en fazla 80 karakterden oluşmalıdır!');
                }

                if(this.form.category_description == null || this.form.category_description === "")
                {
                    this.errors.push('Kategori açıklaması alanı boş geçilemez!');
                }
            },
        }
    }
</script>

<style scoped>
    .img-thumbnail{
        width: 80px;
        height:80px;
    }
    .active .menu-item{
        color: #fff;
    }
</style>
