<template>
    <div class="container-fluid">
        <div class="container py-4 my-4 mx-auto d-flex flex-column">
            <div class="header">
                <div class="row r1">
                    <div class="col-md-9 abc">
                        <h1>{{ product.name }}</h1>
                    </div>
                </div>
            </div>
            <p v-if="response!==undefined">{{ this.response.message }}</p>
            <div class="container-body mt-4">
                <div class="row r3">
                    <div class="col-md-5 p-0 klo">
                        {{ product.description }}
                        <br/><br/>
                        <div class="col-12 mb-3">
                            <h4 class="text-danger">{{ Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(totalPrice) }}</h4>
                        </div>
                        <div class="col-6 mb-3">
                            <b-input-group style="width:180px;">
                                <template #prepend>
                                    <b-button @click="decrease" style="width:40px;" variant="primary">-</b-button>
                                </template>
                                <b-form-input class="text-center"
                                              type="number"
                                              v-model="quantity"
                                              min="0"
                                              max="100"
                                ></b-form-input>
                                <template #append>
                                    <b-button @click="increase" style="width:40px;" variant="primary">+</b-button>
                                </template>
                            </b-input-group>
                        </div>
                        <button
                            @click="addToCart"
                            class="addcart btn btn-md btn-danger">
                            <b-icon-cart></b-icon-cart>
                            Sepete Ekle
                        </button>
                    </div>
                    <div class="col-md-7"> <img :src="product.image" width="90%" height="95%"> </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    import axios from 'axios';

    export default {
        props: ['product', 'response'],
        data()
        {
            return {
                quantity: 1,
                totalPrice: 0
            }
        },
        created() {
            this.totalPrice = this.product.price;
        },
        methods : {
            increase(){
                if(this.quantity !== 99)
                {
                    this.quantity = this.quantity + 1;
                }
            },
            decrease(){
                if(this.quantity !== 1)
                {
                    this.quantity = this.quantity - 1
                }
            },
            addToCart(){
                const formData = new FormData();
                formData.append('product_id', this.product.id);
                formData.append('name', this.product.name);
                formData.append('image', this.product.image);
                formData.append('quantity', this.quantity);
                formData.append('price', this.product.price);
                formData.append('total_price', this.totalPrice);
                axios.post('/add_to_cart', formData)
                    .then((res) => {
                       alert(res.data.message);
                    })
                    .catch((err) => {
                        console.error(err);
                    });
            }
        },
        watch : {
            quantity(quantity){
                if(quantity > 100)
                {

                }
                this.totalPrice = quantity * this.product.price;
            }
        }
    }
</script>

<style scoped>
    .addcart{
        margin-left:15px;
    }
</style>
