<template>
    <div class="container-fluid">
        <div class="col-md-3" v-for="product in products">
            <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap"><img :src="product.image"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-12"> <a href="" class="title">{{ product.name }}</a> </div>

                    </div>
                </figcaption>
                <div class="bottom-wrap"> <inertia-link :href="'/product_details/'+product.id" class="btn btn-primary float-right"> Ürün Detay</inertia-link>
                    <div class="price-wrap"> <span class="price h5">{{ Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(product.price) }}</span> <br> <small class="text-success">Ücretsiz Kargo</small> </div>
                </div>
            </figure>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['products']
    }
</script>

<style scoped>
    .card-product-grid {
        margin-bottom: 0
    }

    .card {
        width: 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.10rem;
        margin-top: 50px
    }

    .card-product-grid:hover {
        -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
        box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
        -webkit-transition: .3s;
        transition: .3s
    }

    .card-product-grid .img-wrap {
        border-radius: 0.2rem 0.2rem 0 0;
        height: 220px
    }

    .card .img-wrap {
        overflow: hidden
    }

    .card-lg .img-wrap {
        height: 280px
    }

    .card-product-grid .img-wrap {
        border-radius: 0.2rem 0.2rem 0 0;
        height: 275px;
        padding: 16px
    }

    [class*='card-product'] .img-wrap img {
        height: 100%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        -o-object-fit: cover;
        object-fit: cover
    }

    .img-wrap {
        text-align: center;
        display: block
    }

    .card-product-grid .info-wrap {
        overflow: hidden;
        padding: 18px 20px
    }

    [class*='card-product'] a.title {
        color: #212529;
        display: block
    }


    .card-product-grid .bottom-wrap {
        padding: 18px;
        border-top: 1px solid #e4e4e4
    }

    .btn {
        display: inline-block;
        font-weight: 600;
        color: #343a40;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.45rem 0.85rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.2rem
    }

    .btn-primary {
        color: #fff;
        background-color: #3167eb;
        border-color: #3167eb
    }

</style>
