<template>
    <div>
        <div class="card mb-4">
            <div class="p-4">
                <h5>Ödeme Yöntemi</h5>

                <div class="d-flex pt-3 pl-3">
                    <div class="mt-3 pl-2 mb-3">
                        <span class="name">{{ user.name }}</span>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <div class="first pl-2 d-flex py-2">
                        <div class="form-check"> <input type="radio" name="paymenttype" v-model="orderForm.paymentType" value="Kapıda Ödeme" class="form-check-input mt-3 dot"> </div>
                        <div class="border-left pl-2"><span class="head">Kapıda Ödeme</span>
                            <div><span class="amount">{{ Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(totalPrice) }}</span></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="p-4">
                <h5>Adres Seçiniz</h5>
                <div class="py-2 px-3">
                    <div class="first pl-2 d-flex py-2" v-for="address in addresses">
                        <div class="form-check"> <input type="radio" name="addresstype" v-model="orderForm.addressType" :value="address.id" class="form-check-input mt-3 dot"> </div>
                        <div class="border-left pl-2"><span class="head">{{ address.name }}</span>
                            <div><span class="amount">{{ address.address }} {{ address.city }} / {{ address.state }}</span></div>
                        </div>
                    </div>
                </div>
                <div class="py-2 px-3">
                    <button class="btn btn-outline-primary"  @click="openModal">Yeni Adres Ekle</button>
                </div>

                <div class="d-flex justify-content-between px-3 pt-4 pb-3">
                    <div><inertia-link href="/cart" class="back">Geri Dön</inertia-link></div> <button type="button" @click="saveOrder" class="btn btn-primary button">Sipariş Tamamla</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addNewAddressModal">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Adres Ekle</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="name">Adres Adı</label>
                            <input class="form-control" required id="name" v-model="form.name"/>
                        </div>

                        <div class="form-group">
                            <label for="address">Adres</label>
                            <input class="form-control" required id="address" v-model="form.address"/>
                        </div>

                        <div class="form-group">
                            <label for="city">Şehir</label>
                            <select id="city" @change="getStates" v-model="form.city" class="form-control">
                                <option v-for="city in cities">{{ city }}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="state">İlçe</label>
                            <select id="state" v-model="form.state" class="form-control">
                                <option v-for="state in states">{{ state }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phone">Telefon</label>
                            <input id="phone" v-model="form.phone" class="form-control"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" @click="closeModal()">Vazgeç</button>
                        <button type="submit" class="btn btn-primary" @click="save(form)">Kaydet
                        </button>
                    </div>
                </div><!-- /.modal-content -->

            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        props: ['cart', 'user', 'addresses'],
        data(){
          return {
              totalPrice: 0,
              cities: [],
              states: [],
              orderForm: {
                  addressType: '',
                  paymentType: 'Kapıda Ödeme'
              },
              form: {
                  name: '',
                  address: '',
                  city: '',
                  state: '',
                  phone: ''
              }
          }
        },
        methods:{
            openModal: function () {
                $('#addNewAddressModal').modal('show')
            },
            closeModal: function () {
                $('#addNewAddressModal').modal('hide')
            },
            save(data){
                data['user_id'] = this.user.id;
                this.$inertia.post('/address/create', data);
                this.closeModal();
            },
            saveOrder(){
                let formData = new FormData();
                formData.append('user_id', this.user.id);
                formData.append('address_id', this.orderForm.addressType);
                formData.append('amount', this.totalPrice);
                this.$inertia.post('/order/create',formData);
            },
            calculateTotalPrice(){
                var total = 0;
                var keys = Object.keys(this.cart);
                keys.map(key => {
                    total += parseFloat(this.cart[key].total_price);
                });
                this.totalPrice = total;
            },
            getCities(){
                axios.get("/il-ilce.json")
                    .then((res) => {
                        res.data.map((city) => {
                            console.log(city.il);
                           if(this.cities.indexOf(city.il) === -1)
                           {
                               this.cities.push(city.il);
                           }
                        });
                    })
                    .catch((err) => console.error(err));
            },
            getStates(){
                this.states = [];
                axios.get("/il-ilce.json")
                    .then((res) => {
                        res.data.map((city) => {
                            if(city.il === this.form.city){
                                this.states.push(city.ilce);
                            }
                        });
                    })
                    .catch((err) => console.error(err));
            }
        },
        created() {
            this.getCities();
            this.calculateTotalPrice();
        }
    }
</script>

<style scoped>
    .card {
        background-color: #fff;
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .name {
        font-size: 15px;
        color: #403f3f;
        font-weight: bold
    }

    .first {
        border-radius: 8px;
        border: 1.5px solid #78b9ff;
        color: #000;
        background-color: #eaf4ff
    }

    .dot {}

    .head {
        color: #137ff3;
        font-size: 12px
    }

    .dollar {
        font-size: 18px;
        color: #097bf7
    }

    .amount {
        color: #007bff;
        font-weight: bold;
        font-size: 18px
    }

    .back {
        color: #aba4a4;
        font-size: 15px;
        line-height: 73px;
        font-weight: 400
    }

    .button {
        width: 150px;
        height: 60px;
        border-radius: 8px;
        font-size: 17px
    }
</style>
